<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/">Главная</a></li>
    <% if (user) { %>
    <li><a href="/chat">Чат</a></li>
    <% } %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if (user) { %>
    <!--<li><a href="" onclick="$('<form method=POST action=/user/logout></form>').submit();return false;">Выйти</a></li>-->
    <!--<li><a href="" onclick="$.ajax({url: '/user/logout',method: 'POST'});return false;">Выйти</a></li>-->
    <li>
      <form action="/user/logout" method="POST">
        <input type="submit" value="logout">
      </form>
    </li>
    <% } else { %>
    <li><a href="/user/login">Войти</a></li>
    <% } %>
  </ul>
</nav>